@model IEnumerable<TraderServices.Models.Traderskills>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TraderP.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraderP.AuthKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraderC.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraderS.YearsOfExp)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(model => model.TraderP.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.TraderP.AuthKey)
        </td>
        <td>
            @Html.DisplayFor(model => model.TraderC.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.TraderS.YearsOfExp)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id= TItem.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })**@
        </td>
    </tr>


</table>
