@model TraderServices.Trader
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_interior.cshtml";
}

<h2>Bio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthKey)
        </th>
       
        <th></th>
    </tr>
   

        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.Name)</td>
            <td>@Html.DisplayFor(modelItem => modelItem.AuthKey)</td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
                @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
            </td>
        </tr>
    
    </table>
    <table class="table">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayName("Short Description")
            </th>
            <th>@Html.DisplayName("Years of Experience")
</th>
        </tr>

        @foreach (var item in Model.TradeSkills)
        {

            <tr>
               
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ShortDes)</td>
                <td>@Html.DisplayFor(modelItem => item.YearsOfExp)</td>

                <td>
                    @Html.ActionLink("Edit", "../TradeSkills/Edit", new { id = item.CategoryID, id2= item.TraderID}) |
                    @Html.ActionLink("Details", "../TradeSkills/Details", new { id = item.CategoryID, id2 = item.TraderID }) |
                    @Html.ActionLink("Delete", "../TradeSkills/Delete", new { id = item.CategoryID, id2 = item.TraderID })
                </td>
            </tr>
        }
        @*<tr>
                <td>
                    @Html.DisplayFor(model => model.TraderP.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TraderP.AuthKey)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TraderC.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TraderS.YearsOfExp)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id= TItem.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })*
                </td>
            </tr>*@


    </table>
