@model TraderServices.Trader

@{
    ViewBag.Title = "ListTrader";
    Layout = "~/Views/Shared/_interior.cshtml";
}
<div class="conTrade">
<h2>Contact Me</h2>

    <h3>Trader Info</h3>
    
          <ul>  
              <li>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(modelItem => modelItem.Name)</li>
      
              <li>@Html.DisplayNameFor(model => model.AuthKey): @Html.DisplayFor(modelItem => modelItem.AuthKey)</li>




              @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
        </td>*@
</ul>

<table class="table">
    <h3>Skills to Trade</h3>

    <tr>

        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            @Html.DisplayName("Skills")


        </th>
        <th>
            @Html.DisplayName("Short Description")
        </th>
        <th>
            @Html.DisplayName("Years of Experience")
    </th>
      
</tr>

    
@foreach (var item in Model.TradeSkills)
{

    <tr>

        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.ShortDes)</td>
        <td>@Html.DisplayFor(modelItem => item.YearsOfExp)</td>

       
    </tr>
}
    </table>

    <table class="table">
        <h3>Job Detail</h3>

        <tr>


            <th>
                @Html.DisplayName("Job")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
            </th>

        </tr>

        @foreach (var item in Model.Jobs)
        {

            <tr>

                <td>@Html.DisplayFor(modelItem => item.Names)</td>
                <td>@Html.DisplayFor(modelItem => item.Details)</td>
                <td>@Html.DisplayFor(modelItem => item.DueDate)</td>

                @*<td>
                        @Html.ActionLink("Edit", "../TradeSkills/Edit", new { id = item.CategoryID, id2 = item.TraderID }) |
                        @Html.ActionLink("Details", "../TradeSkills/Details", new { id = item.CategoryID, id2 = item.TraderID }) |
                        @Html.ActionLink("Delete", "../TradeSkills/Delete", new { id = item.CategoryID, id2 = item.TraderID })
                    </td>*@
            </tr>
        }


        @*<tr>
                <td>
                    @Html.DisplayFor(model => model.TraderP.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TraderP.AuthKey)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TraderC.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TraderS.YearsOfExp)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id= TItem.ID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID })*
                </td>
            </tr>*@


    </table>
<a href="mailto:@Model.AuthKey">Email Trader</a>
    </div>