@model IEnumerable<TraderServices.Category>

@{
    ViewBag.Title = "Cat";
    Layout = "~/Views/Shared/_interior.cshtml";
}

<h2>Select a Categories</h2>

<div class="cat">
    @foreach (var item in Model)
    {
        
                @Html.ActionLink(item.Name, "ListCatJob", "Categories", new { id=item.ID }, null)

          
                @Html.DisplayFor(modelItem => item.Desc)
         
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>*@
    }


    </div>
