@model IEnumerable<TraderServices.Job>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_interior.cshtml";
}

<h2>Jobs</h2>


@foreach (var item in Model)
{
    <div class="jobitem">

        <ul>
            <li class="title">@Html.DisplayName("Trader")</li>
            <li class="content">@Html.DisplayFor(modelItem => item.Trader.Name)</li>

            @*<li class="title">@Html.DisplayName("Category")</li>
            <li class="content">@Html.DisplayFor(modelItem => item.Category.Name)</li>*@

            <li class="title">@Html.DisplayNameFor(model => model.Names)</li>
            <li class="content">@Html.DisplayFor(modelItem => item.Names)</li>

            <li class="title">@Html.DisplayNameFor(model => model.Details)</li>
            <li class="content">@Html.DisplayFor(modelItem => item.Details)</li>

            <li class="title">@Html.DisplayNameFor(model => model.DueDate)</li>
            <li class="content">@Html.DisplayFor(modelItem => item.DueDate)</li>

        </ul>
    </div>
}

