@model TraderServices.TradeSkill

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TradeSkill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Trader
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trader.Name)
        </dd>
        <dt>
Skills        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

      
        <dt>
            @Html.DisplayNameFor(model => model.YearsOfExp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearsOfExp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDes)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
